<footer>
    <ul>
        <li>
            <img src="/assets/home.svg" width="20"  alt="bloemicoon">
            <p>Home</p>
        </li>
        <li>
            <img src="/assets/veldverkenner.svg" width="20"  alt="bloemicoon">
            <p>Veldverkenner</p>
        </li>
        <li>
            <img src="/assets/nieuws.svg" width="20"  alt="bloemicoon">
            <p>Nieuws</p>
        </li>
        <li>
            <img src="/assets/collectie.svg" width="20"  alt="bloemicoon">
            <p>Collectie</p>
        </li>        
    </ul>
</footer>
  
  </body>
</html>