{% render 'partials/head.liquid' %}

 <main class="collectie">

    <div class="terug-knop">
        <a href="/"><img src="/assets/pijltje-terug.svg" width="20" alt="pijltje terug">Terug</a>
    </div>

    <h1>Collectie</h1>


 </main>

{% render 'partials/navbar.liquid' %}

{% render 'partials/foot.liquid' %}